#backgroundPop{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    
    display: none;
}
.optionsBox{
    /* display: none; */
    margin-top: 15%;
}



.cop{
    max-height:fit-content;
}

.cof{
    max-height:auto;
}

.coi{
    max-height: 800px;
}

.cola{
    /* height:; */
}

.cof,.coi,.cod{
    /* height: fit-content; */
}

.conta{
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(1,1fr);

    grid-template-rows: 15% 55% 20% 10%;

}

.like:hover{
    transform:scale(1.2,1.2);
    transition: all 500ms;
}

.imgProfile{
    width: auto;
    height: auto;
    max-width: 400px;

    
}