.backgroundPop{
    position: fixed;
    z-index: 1000;
    display: none;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    /* display: flex;
    justify-items: center;
    align-content: center; */
}

.backgroundPop2{
    position: fixed;
    z-index: 1000;
    display: none;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.optionsBox{
    height: auto;
    display: block;
    max-height: 400px;
    margin-top: 15%;
    /* display: none;
    position: relative;
    margin-top: 15%; */
}



.cop{
    max-height:fit-content;
}

.cof{
    max-height:auto;
}

.coi{
    max-height: 800px;
}

.cola{
    /* height:; */
}

.cof,.coi,.cod{
    /* height: fit-content; */
}

.conta{
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);

    grid-template-rows: 25% 30% 20% 20%;

}

.like:hover{
    transform:scale(1.2,1.2);
    transition: all 500ms;
}

.imgProfile{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

@media (max-width:650px) {
    .conta{
        width: 100%;
    }
}